[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RCEIM"]
	path = RCEIM
	url = https://github.com/cran/RCEIM
[submodule "RsimMosaic"]
	path = RsimMosaic
	url = https://github.com/cran/RsimMosaic
[submodule "SPADAR"]
	path = SPADAR
	url = https://github.com/cran/SPADAR
[submodule "UPMASK"]
	path = UPMASK
	url = https://github.com/cran/UPMASK
